<a href="https://colab.research.google.com/github/qweliant/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module3-nosql-and-document-oriented-databases/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
!curl ipecho.net/plain

34.80.166.222

MongoDB is easier to use, but, and this is off memory, Mongo isnt scalable for large data inserts. I use postgres quite a bit and it integrates seamlessly behind the scenes. It also turns out MongoDB is easy to break when calling variables for a user that may not be set

In [0]:
# !pip install pymongo

In [0]:
import pymongo

<!-- user:  pw:  -
->

In [0]:
client = pymongo.MongoClient("mongodb://admin:nARGoAG7ha8OeSPi@qwelian-shard-00-00-nzx06.mongodb.net:27017,qwelian-shard-00-01-nzx06.mongodb.net:27017,qwelian-shard-00-02-nzx06.mongodb.net:27017/test?ssl=true&replicaSet=qwelian-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.test

In [26]:
db

Database(MongoClient(host=['qwelian-shard-00-02-nzx06.mongodb.net:27017', 'qwelian-shard-00-00-nzx06.mongodb.net:27017', 'qwelian-shard-00-01-nzx06.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='qwelian-shard-0', authsource='admin', retrywrites=True, w='majority'), 'test')

In [27]:
client.nodes

frozenset()

In [28]:
help(db.test.insert_one)

Help on method insert_one in module pymongo.collection:

insert_one(document, bypass_document_validation=False, session=None) method of pymongo.collection.Collection instance
    Insert a single document.

      >>> db.test.count_documents({'x': 1})
      0
      >>> result = db.test.insert_one({'x': 1})
      >>> result.inserted_id
      ObjectId('54f112defba522406c9cc208')
      >>> db.test.find_one({'x': 1})
      {u'x': 1, u'_id': ObjectId('54f112defba522406c9cc208')}

    :Parameters:
      - `document`: The document to insert. Must be a mutable mapping
        type. If the document does not have an _id field one will be
        added automatically.
      - `bypass_document_validation`: (optional) If ``True``, allows the
        write to opt-out of document level validation. Default is
        ``False``.
      - `session` (optional): a
        :class:`~pymongo.client_session.ClientSession`.

    :Returns:
      - An instance of :class:`~pymongo.results.InsertOneResult`.

    .. seealso:: :ref:`writes-and-ids`

    .. note:: `bypass_document_validation` requires server version
      **>= 3.2**

    .. versionchanged:: 3.6
       Added ``session`` parameter.

    .. versionchanged:: 3.2
      Added bypass_document_validation support

    .. versionadded:: 3.0

In [29]:
#Count document
db.test.count_documents({'x':1})

0

In [30]:
db.test.insert_one({'x':21})

In [31]:
db.test.count_documents({'x':21})

1

In [32]:
db.test.find_one({'x':21})

{'_id': ObjectId('5dc35c17e2f1c72f60f8c1ae'), 'x': 21}

In [0]:
cursor = db.test.find({'x':21})

In [34]:
dir(cursor)

['_Cursor__address',
 '_Cursor__batch_size',
 '_Cursor__check_okay_to_chain',
 '_Cursor__codec_options',
 '_Cursor__collation',
 '_Cursor__collection',
 '_Cursor__comment',
 '_Cursor__data',
 '_Cursor__die',
 '_Cursor__empty',
 '_Cursor__exhaust',
 '_Cursor__exhaust_mgr',
 '_Cursor__explain',
 '_Cursor__explicit_session',
 '_Cursor__hint',
 '_Cursor__id',
 '_Cursor__killed',
 '_Cursor__limit',
 '_Cursor__manipulate',
 '_Cursor__max',
 '_Cursor__max_await_time_ms',
 '_Cursor__max_scan',
 '_Cursor__max_time_ms',
 '_Cursor__min',
 '_Cursor__modifiers',
 '_Cursor__ordering',
 '_Cursor__projection',
 '_Cursor__query_flags',
 '_Cursor__query_spec',
 '_Cursor__read_concern',
 '_Cursor__read_preference',
 '_Cursor__retrieved',
 '_Cursor__return_key',
 '_Cursor__send_message',
 '_Cursor__session',
 '_Cursor__set_hint',
 '_Cursor__show_record_id',
 '_Cursor__skip',
 '_Cursor__snapshot',
 '_Cursor__spec',
 '__class__',
 '__copy__',
 '__deepcopy__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_clone',
 '_clone_base',
 '_deepcopy',
 '_getmore_class',
 '_query_class',
 '_read_preference',
 '_refresh',
 '_unpack_response',
 'add_option',
 'address',
 'alive',
 'batch_size',
 'clone',
 'close',
 'collation',
 'collection',
 'comment',
 'count',
 'cursor_id',
 'distinct',
 'explain',
 'hint',
 'limit',
 'max',
 'max_await_time_ms',
 'max_scan',
 'max_time_ms',
 'min',
 'next',
 'remove_option',
 'retrieved',
 'rewind',
 'session',
 'skip',
 'sort',
 'where']

In [0]:
location_doc1 = {
    'wifi location' : ['latitude' ,'longitude'],
    'wifi strenth' : f'decibel milliwatts: {36}'
}

location_doc2 = {
    'wifi location' : ['latitude' ,'longitude'],
    'wifi strenth' : f'decibel milliwatts: {42.7}'
}

loaction_doc3 = {
    'wifi location' : ['latitude' ,'longitude'],
    'wifi strenth' : f'decibel milliwatts: {99}'
}

In [36]:
db.test.insert_many([location_doc1,location_doc2,loaction_doc3])

In [37]:
list(db.test.find())

[{'_id': ObjectId('5dc35c17e2f1c72f60f8c1ae'), 'x': 21},
 {'_id': ObjectId('5dc35c17e2f1c72f60f8c1af'),
  'wifi location': ['latitude', 'longitude'],
  'wifi strenth': 'decibel milliwatts: 36'},
 {'_id': ObjectId('5dc35c17e2f1c72f60f8c1b0'),
  'wifi location': ['latitude', 'longitude'],
  'wifi strenth': 'decibel milliwatts: 42.7'},
 {'_id': ObjectId('5dc35c17e2f1c72f60f8c1b1'),
  'wifi location': ['latitude', 'longitude'],
  'wifi strenth': 'decibel milliwatts: 99'}]

In [0]:
import pandas as pd
import json

In [0]:
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'

In [0]:
df = pd.read_csv(url)

In [41]:
df.head( )

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [0]:
data_json = json.loads(df.to_json())

In [44]:
db.test.remove()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  """Entry point for launching an IPython kernel.

{'$clusterTime': {'clusterTime': Timestamp(1573084211, 4),
  'signature': {'hash': b'p\xec\x0b\xde\x81\xf8\xae\xda\xa21\xdf\x0e?\xca\x93`\xea\xe4\xdbv',
   'keyId': 6755794401953316865}},
 'electionId': ObjectId('7fffffff0000000000000001'),
 'n': 4,
 'ok': 1.0,
 'opTime': {'t': 1, 'ts': Timestamp(1573084211, 4)},
 'operationTime': Timestamp(1573084211, 4)}

In [46]:
    db.test.insert(data_json)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

ObjectId('5dc35cb5e2f1c72f60f8c1b2')